 body {
    color: rgb(0, 0, 0); /* The text color is black */
    background-color: rgb(68, 128, 184);
    /* background-image: url(https://media1.giphy.com/media/Wwh8GrwzMKV1K/giphy.gif?cid=6c09b952r8de2qv6lr15e0siyp9xmxzh9j1qp038sb1t13ol&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g);*/
    background-repeat: no-repeat;
    background-size:cover;
    margin: 10% 10% 10px 20px;
}

#hd1 { /*Select HTML element by ID*/
    color: rgb(0, 255, 64); /* The text color is blue */
    font-size: 24px; /* The font size is 24px */
    opacity: 0.5; /* This element is 50% transparent */
  }

.LearningCSS { /*Select HTML element by class name*/
    color: rgb(255, 190, 10); /* The text color is red */
    font-size: 18px; /* The font size is 18px */
  }
/*
  p{
    color:initial;
    margin: 10%;
  }

  b {
    color: blue; 
    margin: inherit;
  } */

#style1 {
  border-style: solid;
  border-width: 10px 5px 10px;
  border-color: red green blue yellow;
}

#style2 {
  border-left: dashed;
}

#style3 {
  border: 3px solid purple;
  border-radius: 20px;
  padding: 7px 5px 7px;
}

#style4 {
  border: 3px solid;
  outline: 1px solid yellowgreen;
  padding: 3px;
  width: 40%;
}

b.text1 { /*Select HTML element by class name AND tag*/
  color: rgb(55, 43, 226);
  vertical-align: top;
}

#text2 {
  outline: 1px solid yellowgreen;
}
#text3 {
  text-align-last: center;
}

#text4 {
  color: white;
  text-decoration: underline black dashed 10px;
}

#stylingHD{
  text-align: justify;
}

#TextTrans1{
  text-transform: capitalize;
  text-indent: 20px;
  font-family: "Lucida Console";
}

table, td, th{
  border: 2px solid;
  width: 50%;
  height: 50px;
  border-collapse: collapse;
  padding: 10px;
}

th{
  height: 50px;
  text-align: center;
  padding: 10px;
}

tr:hover{
  background-color: red;
}


h1 b{ /*Select all <b> elements inside <h1>*/
  color: rgb(216, 0, 119);
}

h1 + b { /*Select the first <b> element that is immediately after <h1>*/
  color: rgb(0, 255, 64);
}

h1 > b { /*Select all <b> elements that are direct children of <h1>*/
  color: rgb(255, 190, 10);
}

h1 ~ b { /*Select all <b> elements that are preceded by <h1>*/
  color: rgb(0, 0, 255);
}

